body
  padding 0
  margin 0
  #app
    display flex
    overflow hidden
    flex-direction column
    width 100vw
    height 100vh
    background-color #222222
    color #DDDDDD
.scrollSmooth
  scroll-behavior smooth
.noScrollbar
  &::-webkit-scrollbar
    width 0
*
  user-select none
  &::-webkit-scrollbar
    width 6px
    height 0
    background-color transparent
  &::-webkit-scrollbar-thumb {
    background-color: #444444;
    border-radius: 2px;
  }
.gray
  filter grayscale(100%)
video,
audio
  padding 0
  border 0
  outline none